@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-top-mobile: 64px;
    --page-top: 128px;
    --page-bottom-mobile: 24px;
    --page-bottom: 48px;

    --focus-inner-colour: hsl(0deg 0% 99%);
    --focus-inner-colour-dark: hsl(0deg, 0%, 8.63%);
    --focus-outer-colour: hsl(39deg, 100%, 57%);

    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

    --scrollbar-color-thumb: hsl(0deg, 0%, 62.7%);
    --scrollbar-color-track: transparent;
    --scrollbar-width: thin;
  }

  @supports (scrollbar-width: auto) {
    * {
      scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
      scrollbar-width: var(--scrollbar-width);
    }
    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-color: hsl(0deg, 0%, 18%) var(--scrollbar-color-track);
      }
    }
  }

  @supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      width: 0.375rem;
      height: 0.375rem;
    }

    ::-webkit-scrollbar-track {
      background: var(--scrollbar-color-track);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 15px;
      width: auto;
      height: 1.25rem;
      background: hsl(0deg, 0%, 63.9%);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: hsl(0deg, 0%, 83.1%);
    }

    @media (prefers-color-scheme: dark) {
      ::-webkit-scrollbar-thumb {
        background: hsl(0deg, 0%, 25.1%);
      }

      ::-webkit-scrollbar-thumb:hover {
        background: hsl(0deg, 0%, 32.2%);
      }
    }
  }

  ::selection {
    background-color: hsl(55.9deg, 100%, 82.9%);
    color: black;
  }

  ::target-text {
    background-color: hsl(55.9deg, 100%, 82.9%);
    color: black;
  }

  :focus-visible {
    box-shadow:
      0 0 0 2px var(--focus-inner-colour),
      0 0 0 4px var(--focus-outer-colour);
    outline: 0px;
  }

  @media (prefers-color-scheme: dark) {
    :focus-visible {
      box-shadow:
        0 0 0 2px var(--focus-inner-colour-dark),
        0 0 0 4px var(--focus-outer-colour);
    }
  }

  div[data-focus-mode='enabled'] :where(p, pre, li, img, div) {
    opacity: 0.8;
    filter: blur(2px);
    transition: 150ms;
    transition-property: opacity filter;
  }

  div[data-focus-mode='enabled'] :where(p, pre, li, img, div):hover {
    opacity: 1;
    filter: none;
  }

  .tooltip-content {
    animation-duration: 200ms;
    animation-timing-function: var(--ease-out-quart);
  }

  .tooltip-content[data-side='top'] {
    animation-name: slideUp;
  }

  .tooltip-content[data-side='bottom'] {
    animation-name: slideDown;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes donut-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  div.primary-spinner {
    animation: donut-spin 1.4s linear infinite;
  }

  div.secondary-spinner {
    animation: donut-spin 0.8s ease-in-out infinite;
  }

  @keyframes loading-animation {
    0% {
      content: '';
      opacity: 0.8;
      filter: blur(0);
    }
    25% {
      content: '.';
      opacity: 0.8;
      filter: blur(0);
    }
    50% {
      content: '..';
      opacity: 0.8;
      filter: blur(0);
    }
    75% {
      content: '...';
      opacity: 0.8;
      filter: blur(0);
    }
    100% {
      content: '';
      opacity: 0;
      filter: blur(1px);
    }
  }

  .loading-text .loading-dots::after {
    animation: loading-animation 1.5s infinite;
    content: '';
    display: inline-block;
    transition: opacity 0.8s ease;
  }

  @keyframes flashing {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  .loading-dots span {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 15%;
    margin: 0 0.125rem;
    display: inline-block;
    animation: flashing 1.1s infinite var(--ease-out-circ);
  }

  .loading-dots span:nth-child(2) {
    animation-delay: 0.1s;
  }

  .loading-dots span:nth-child(3) {
    animation-delay: 0.25s;
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }

  div.ios-spinner {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    border-radius: 10%;
  }

  div.ios-spinner div {
    width: 5%;
    height: 15%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 45%;
    opacity: 0;
    border-radius: 20%;
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.2);
    animation: fade 1s linear infinite;
  }

  @media (prefers-color-scheme: dark) {
    div.ios-spinner div {
      background: #d1d5db;
    }
  }

  @media (prefers-color-scheme: light) {
    div.ios-spinner div {
      background: #404040;
    }
  }

  div.ios-spinner div:nth-child(1) {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  div.ios-spinner div:nth-child(2) {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  div.ios-spinner div:nth-child(3) {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  div.ios-spinner div:nth-child(4) {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  div.ios-spinner div:nth-child(5) {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  div.ios-spinner div:nth-child(6) {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.55s;
  }
  div.ios-spinner div:nth-child(7) {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  div.ios-spinner div:nth-child(8) {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  div.ios-spinner div:nth-child(9) {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  div.ios-spinner div:nth-child(10) {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  div.ios-spinner div:nth-child(11) {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.1s;
  }
  div.ios-spinner div:nth-child(12) {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0;
  }

  .mask-gradient {
    mask-image: linear-gradient(
      in srgb-linear to right,
      transparent,
      #000 25%,
      #000 75%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      in srgb-linear to right,
      transparent,
      #000 25%,
      #000 75%,
      transparent
    );
  }

  kbd {
    font-family: inherit;
  }

  em {
    font:
      400 italic calc(1em + 1px) / normal var(--font-newsreader),
      'Signifier',
      'Times',
      serif;
  }
  @keyframes shimmer {
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .shimmer {
    animation: shimmer 1.8s linear infinite;
  }

  .marquee {
    animation: marquee 20s linear infinite;
  }
  @media (prefers-reduced-motion: reduce) {
    .marquee {
      animation: marquee 50s linear infinite;
    }
  }
}
