@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #fff9a8;
    color: #000000;
  }

  :root {
    --page-top-mobile: 4rem;
    --page-top: 8rem;
    --page-bottom-mobile: 1.5rem;
    --page-bottom: 3rem;
  }

  :focus,
  :focus-visible {
    outline-color: #ff9500;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: auto;
    height: 20px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background: #404040;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #525252;
    }
  }

  @media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
      background: #a3a3a3;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #d4d4d4;
    }
  }

  .tooltip-content {
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  }

  .tooltip-content[data-side='top'] {
    animation-name: slideUp;
  }

  .tooltip-content[data-side='bottom'] {
    animation-name: slideDown;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes donut-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    animation: donut-spin 1.3s linear infinite;
  }

  @keyframes loading-animation {
    0% {
      content: '';
    }
    25% {
      content: '.';
    }
    50% {
      content: '..';
    }
    75% {
      content: '...';
    }
  }

  .loading-text .loading-dots::after {
    animation: loading-animation 1.8s infinite;
    content: '';
  }

  @keyframes flashing {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  .loading-dots span {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 15%;
    margin: 0 2px;
    display: inline-block;
    animation: flashing 1.6s infinite linear;
  }

  .loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
  }

  .loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
  }
}
