@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-top-mobile: 4rem;
    --page-top: 8rem;
    --page-bottom-mobile: 4rem;
    --page-bottom: 8rem;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  width: auto;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #404040;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #525252;
  }
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background: #a3a3a3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
  }
}
