input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
}

* {
  font-synthesis: none;
}

button {
  all: unset;
}

kbd {
  font-family: inherit;
}
