.separator {
  background-color: var(--grey5);
  border: none;
  margin: 0;
  display: block;
  transform-origin: center;
}

.horizontal {
  height: var(--border-thin);
  width: 100%;
}

.vertical {
  height: 100%;
  width: 1px;
  align-self: stretch;
  display: inline-block;
}

.separator-container {
  display: flex;
  height: 1.2em;
}

:global(article.prose.layout-main) > .separator {
  margin-bottom: var(--space-28);
}

@media (prefers-contrast: more) {
  .separator {
    background-color: var(--grey10);
  }
}
