.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.bar {
  height: 60%;
  width: 1px;
  transform-origin: center;
  border-radius: var(--radius-full);
  background-color: var(--grey11);
}
