.badge {
  display: inline-block;
  align-self: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--blue);
  background-size: 200%;
}

@media (prefers-color-scheme: dark) {
  .badge {
    background-image: linear-gradient(
      to right,
      var(--blue),
      var(--teal),
      var(--blue)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shimmer 2s linear infinite;
  }
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}
