.listItem {
  --spacing: 0.75rem;

  gap: var(--spacing);
  padding: var(--spacing);
  margin: 0 calc(var(--spacing) * -1);
  color: var(--color-foreground);
}

.listItem > a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  transition: color 150ms ease;
}

.listItem:hover {
  color: var(--color-foreground-secondary);
}

.postDate {
  font-size: 0.875rem;
  font-feature-settings: "tnum";
  color: var(--color-foreground-secondary);
  white-space: nowrap;
  margin-left: auto;
}

.titleRow {
  display: flex;
  align-items: baseline;
  gap: 0.375rem;
}

.description {
  font-size: 0.75rem;
  color: var(--color-foreground-secondary);
}

@media (max-width: 640px) {
  .description {
    display: none;
  }
}
