.item {
  color: var(--color-foreground);
}

.item:not(:last-child) {
  border-bottom: var(--border-thin) solid var(--grey5);
}

.item > a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  transition: color 150ms ease;
  width: 100%;
  padding: var(--space-10) 0 var(--space-18);
  margin: 0;
  border-radius: var(--radius-8);
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.item > a:focus-visible {
  width: calc(100% + var(--space-20));
  padding: var(--space-14) var(--space-10);
  margin: calc(var(--space-4) * -1) calc(var(--space-10) * -1) var(--space-4);
  border-radius: var(--radius-10);
  background: var(--color-background);
}

@media (hover: hover) and (pointer: fine) {
  .item > a:hover {
    color: var(--grey11);
  }
}

.date {
  font-size: 0.875rem;
  font-feature-settings: "tnum";
  color: var(--color-foreground-secondary);
  white-space: nowrap;
  margin-left: auto;
}

.summary {
  display: flex;
  align-items: baseline;
  gap: var(--space-6);
}

.description {
  font-size: 0.75rem;
  color: var(--color-foreground-secondary);
}

@media (max-width: 640px) {
  .description {
    display: none;
  }
}
