.timelineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16);
}

.timelineContainer {
  --tick-width: 1px;
  --tick-height: 20px;
  --tick-border-radius: var(--radius-8);
  --tick-margin-horizontal: var(--space-6);
  --tick-margin-bottom-active: var(--space-12);
  --tick-margin-bottom-mobile: var(--space-10);

  --active-tick-color: var(--orange);

  display: flex;
  align-items: center;
  user-select: none;
}

.timelineButton {
  display: flex;
  color: var(--grey10);
  padding: var(--space-8);
  border-radius: var(--radius-8);
  margin: 0 var(--space-6);
  transition: var(--transition-hover);
}

.timelineButton:hover:not(:disabled) {
  background: var(--greyA4);
}

.timelineButton:disabled {
  cursor: not-allowed;
  color: var(--greyA6);
}

.timelineTicks {
  position: relative;
  min-width: min-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timelineTick {
  --hit-area: var(--space-8);

  position: relative;
  height: var(--tick-height);
  width: var(--tick-width);
  align-items: center;
  margin: 0 var(--tick-margin-horizontal);
  background: var(--grey8);
  border-radius: var(--tick-border-radius);
  touch-action: manipulation;
  z-index: 1;
}

.timelineTick:nth-of-type(2n) {
  background: var(--grey9);
}

.timelineTick::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: var(--hit-area);
  pointer-events: auto;
}

.timelineTick[data-active="true"] {
  margin-bottom: var(--tick-margin-bottom-active);
  background: var(--active-tick-color);
  z-index: 5;
}

.timelineWrapper[data-debug-overlay="default"] .timelineTick {
  background: var(--active-tick-color);
}

.timelineWrapper[data-debug-overlay="default"] .timelineTick::after {
  --hit-area: 0px;
}

.timelineWrapper[data-debug-overlay="increased"] .timelineTick::after {
  border: 1px solid color-mix(in oklab, var(--orange) 50%, transparent);
  background: color-mix(in oklab, var(--orange) 10%, transparent);
}

@media (max-width: 600px) {
  .timelineContainer {
    padding: 0 var(--space-8);
  }

  .timelineButton {
    margin: 0;
  }

  .timelineTicks {
    min-width: 100px;
  }

  .timelineTick[data-active="true"] {
    margin-bottom: var(--tick-margin-bottom-mobile);
  }
}
