.container {
  margin-top: var(--space-16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-24);
}

.wrapper {
  will-change: transform;
}

.button {
  position: relative;
  display: flex;
  height: 36px;
  width: 150px;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-4);
  background-color: var(--grey1);
  padding: var(--space-2) var(--space-4);
  outline: 1px solid var(--grey4);
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  user-select: none;
  -webkit-user-select: none;
  color: var(--color-foreground);
  box-shadow: var(--elevation-1);

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.button:active {
  box-shadow: none;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--greyA1);
  }
}

.contentDefault {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--space-6);
}

.contentDefault > svg {
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  .contentDefault > svg {
    opacity: 0.9;
  }
}

.contentPressed {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tooltipWrapper {
  min-height: 1rem;
}

.tooltip {
  display: block;
  font-size: 0.75rem;
  color: var(--color-foreground-secondary);
}
