.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.bar {
  height: 60%;
  width: 2px;
  transform-origin: center;
  border-radius: var(--radius-full);
  background-color: var(--grey11);
}
