.container {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  width: 20px;
  height: 20px;
  padding: 0 4px;
  border-radius: 0.125rem;

  font-size: 0.75rem;
  color: var(--grey11);

  background-color: var(--grey3);

  user-select: none;
  -webkit-user-select: none;
}
