.container {
  display: inline-flex;
  align-items: center;
  gap: var(--space-4);
}

.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);

  width: 20px;
  height: 20px;
  padding: 0 var(--space-4);
  border-radius: var(--radius-2);

  font-size: 0.75rem;
  color: var(--grey11);

  background-color: var(--grey3);

  user-select: none;
  -webkit-user-select: none;
}
