@import "./reset.css";
@import "./tokens.css";
@import "./typography.css";
@import "./utilities.css";
@import "./animations.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-color: var(--grey7) transparent;
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  line-height: 1.5;

  touch-action: manipulation;
  background: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

#__next {
  isolation: isolate;
  min-height: 100%;
  padding-left: var(--spacing-body-margin-left);
  padding-right: var(--spacing-body-margin-right);
  padding-bottom: env(safe-area-inset-bottom);
}

main {
  position: relative;
  min-height: 100dvh;
  padding-top: var(--spacing-page-top);
  padding-bottom: var(--spacing-page-bottom);
  margin: 0 auto;
  max-width: var(--page-max-width);
}

.main-grid {
  --column-length: 192px;

  display: grid;
  align-items: flex-start;
  grid-template-columns: var(--column-length) var(--content-max-width) var(
      --column-length
    );
  column-gap: var(--spacing-gutter);
}

@media (max-width: 1024px) {
  .main-grid {
    grid-template-columns: auto var(--content-max-width) auto;
    column-gap: var(--spacing-gutter-sm);
  }
}

@media (max-width: 768px) {
  .main-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: unset;
    gap: 42px;
  }
}

.main-grid > * {
  grid-column: 2;
}

.pages-list {
  display: flex;
  gap: var(--spacing-gap-sm);
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

:focus-visible {
  outline: 0;
  box-shadow:
    0 0 0 2px var(--focus-inner-color-light),
    0 0 0 4px var(--focus-outer-color);
}

@media (prefers-color-scheme: dark) {
  :focus-visible {
    box-shadow:
      0 0 0 2px var(--focus-inner-color-dark),
      0 0 0 4px var(--focus-outer-color);
  }
}

@media (hover: none) and (pointer: coarse) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.blur {
  --h: min(96px, var(--spacing-page-top));
  --direction: to bottom;
  --blur-radius: 4px;
  --mask-stop: 25%;
  --blur-opacity: 0.92;
  --blur-z: 1;

  position: sticky;

  width: calc(
    100% + var(--spacing-body-margin-left) + var(--spacing-body-margin-right)
  );
  height: var(--h);
  margin-left: calc(-1 * var(--spacing-body-margin-left));

  user-select: none;
  pointer-events: none;

  -webkit-backdrop-filter: blur(var(--blur-radius));
  -webkit-mask-image: linear-gradient(
    var(--direction),
    #000 var(--mask-stop),
    transparent
  );

  mask-image: linear-gradient(
    var(--direction),
    #000 var(--mask-stop),
    transparent
  );
  backdrop-filter: blur(var(--blur-radius));

  opacity: var(--blur-opacity);
  z-index: var(--blur-z);
}

.blur:first-child {
  top: 0;
  margin-bottom: calc(-1 * var(--h));
}

.blur::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--direction),
    var(--background) 0%,
    transparent 100%
  );
}
