@import "./reset.css";

@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/spacing.css";
@import "./tokens/elevation.css";
@import "./tokens/motion.css";
@import "./tokens/radii.css";

@import "./primitives/prose.css";
@import "./primitives/animations.css";

@import "./utilities.css";
@import "./layout.css";

* {
  scrollbar-color: var(--grey7) transparent;
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  line-height: 1.5;

  touch-action: manipulation;
  background: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

#__next {
  isolation: isolate;
  min-height: 100%;
  padding-left: var(--spacing-body-margin-left);
  padding-right: var(--spacing-body-margin-right);
  padding-bottom: env(safe-area-inset-bottom);
}

main {
  position: relative;
  min-height: 100dvh;
  padding-top: var(--spacing-page-top);
  padding-bottom: var(--spacing-page-bottom);
  margin: 0 auto;
  max-width: var(--page-max-width);
}

.pages-list {
  display: flex;
  gap: var(--space-8);
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.pages-list li {
  margin-top: 0;
  list-style: none;
}

.pages-list li::marker {
  content: "";
}

.error-stack {
  background-color: transparent;
  font-size: 0.875rem;
  white-space: pre-wrap;
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

:focus-visible {
  outline: 0;
  box-shadow:
    0 0 0 2px var(--focus-inner-color-light),
    0 0 0 4px var(--focus-outer-color);
}

@media (prefers-color-scheme: dark) {
  :focus-visible {
    box-shadow:
      0 0 0 2px var(--focus-inner-color-dark),
      0 0 0 4px var(--focus-outer-color);
  }
}

@media (hover: none) and (pointer: coarse) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
