.pageLayout {
  grid-column: 2;
}

.writingLayout {
  grid-column: 2;
}

.craftLayout {
  grid-column: 2;
}

.description {
  color: var(--color-foreground-secondary);
}

.navWrapper {
  grid-column: 1;
  justify-self: center;
  align-self: start;
}

.navBackButton {
  border-radius: 4px;
  padding: 4px 6px 4px 4px;
  display: flex;
  gap: 6px;
  color: var(--color-foreground);
  transition: color 150ms ease;
}

.navBackButton svg {
  transform: translateY(4px);
  fill: currentColor;
}

.navBackButton:hover {
  color: var(--color-foreground-secondary);
}

.errorStack {
  background-color: transparent;
  font-size: 0.875rem;
  white-space: pre-wrap;
}
