.page-layout {
  grid-column: 2;
}

.writing-layout {
  grid-column: 2;
}

.craft-layout {
  grid-column: 2;
}

.description {
  color: var(--color-foreground-secondary);
}

.nav-wrapper {
  position: sticky;
  top: var(--spacing-page-top);
  grid-column: 1;
  justify-self: center;
  align-self: start;
}

.error-stack {
  background-color: transparent;
  font-size: 0.875rem;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .nav-wrapper {
    position: static;
    top: auto;
  }
}

