.layout-grid {
  --column-length: 192px;

  display: grid;
  align-items: flex-start;
  grid-template-columns: var(--column-length) var(--content-max-width) var(
      --column-length
    );
  column-gap: var(--space-24);
}

.layout-grid > * {
  grid-column: 2;
}

.layout-main {
  grid-column: 2;
}

.layout-grid > .layout-rail {
  grid-column: 1;
}

.layout-rail {
  position: sticky;
  top: var(--spacing-page-top);
  justify-self: center;
  align-self: start;
}

@media (max-width: 1024px) {
  .layout-grid {
    grid-template-columns: auto var(--content-max-width) auto;
    column-gap: var(--space-16);
  }
}

@media (max-width: 768px) {
  .layout-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-42);
  }

  .layout-rail {
    position: static;
    top: auto;
  }
}
