.pageLayout {
  grid-column: 2;
}

.writingLayout {
  grid-column: 2;
}

.craftLayout {
  grid-column: 2;
}

.description {
  color: var(--color-foreground-secondary);
}

.navWrapper {
  position: sticky;
  top: var(--spacing-page-top);
  grid-column: 1;
  justify-self: center;
  align-self: start;
}

.errorStack {
  background-color: transparent;
  font-size: 0.875rem;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .navWrapper {
    position: static;
    top: auto;
  }
}
