* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
}

ul,
ol {
  list-style: none;
}

kbd {
  font-family: inherit;
}

:where(h1, h2, h3, h4, h5, h6, p, li) {
  overflow-wrap: break-word;
}
