:root {
  --color-background: #ffffff;
  --color-foreground: #3a3a3a;
  --color-foreground-secondary: #6f6f6f;

  --grey1: #fcfcfc;
  --grey2: #f8f8f8;
  --grey3: #f3f3f3;
  --grey4: #ededed;
  --grey5: #e8e8e8;
  --grey6: #e2e2e2;
  --grey7: #dbdbdb;
  --grey8: #c7c7c7;
  --grey9: #8f8f8f;
  --grey10: #858585;
  --grey11: #6f6f6f;
  --grey12: #171717;

  --greyA1: rgba(0, 0, 0, 0.012);
  --greyA2: rgba(0, 0, 0, 0.027);
  --greyA3: rgba(0, 0, 0, 0.047);
  --greyA4: rgba(0, 0, 0, 0.071);
  --greyA5: rgba(0, 0, 0, 0.09);
  --greyA6: rgba(0, 0, 0, 0.114);
  --greyA7: rgba(0, 0, 0, 0.141);
  --greyA8: rgba(0, 0, 0, 0.22);
  --greyA9: rgba(0, 0, 0, 0.439);
  --greyA10: rgba(0, 0, 0, 0.478);
  --greyA11: rgba(0, 0, 0, 0.565);
  --greyA12: rgba(0, 0, 0, 0.91);

  --yellow: oklch(85.4% 0.175 87.5deg);
  --orange: oklch(66.7% 0.224 36.8deg);
  --blue: oklch(54.6% 0.245 262.881);
  --teal: oklch(77.7% 0.152 181.912);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --yellow: color(display-p3 1 0.78 0/1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #161616;
    --color-foreground: #ededed;
    --color-foreground-secondary: #a0a0a0;

    --grey1: #1a1a1a;
    --grey2: #1c1c1c;
    --grey3: #232323;
    --grey4: #282828;
    --grey5: #2e2e2e;
    --grey6: #343434;
    --grey7: #3e3e3e;
    --grey8: #505050;
    --grey9: #707070;
    --grey10: #7e7e7e;
    --grey11: #a0a0a0;
    --grey12: #ededed;

    --greyA1: hsla(0, 0%, 100%, 0);
    --greyA2: hsla(0, 0%, 100%, 0.026);
    --greyA3: hsla(0, 0%, 100%, 0.056);
    --greyA4: hsla(0, 0%, 100%, 0.077);
    --greyA5: hsla(0, 0%, 100%, 0.103);
    --greyA6: hsla(0, 0%, 100%, 0.129);
    --greyA7: hsla(0, 0%, 100%, 0.172);
    --greyA8: hsla(0, 0%, 100%, 0.249);
    --greyA9: hsla(0, 0%, 100%, 0.386);
    --greyA10: hsla(0, 0%, 100%, 0.446);
    --greyA11: hsla(0, 0%, 100%, 0.592);
    --greyA12: hsla(0, 0%, 100%, 0.923);
  }
}

:root {
  --shadow-ambient: lch(0% 0 0 / 0.03);
  --shadow-key: lch(0% 0 0 / 0.08);
  --shadow-specular: lch(100% 0 0 / 0.06);

  --elevation-1:
    var(--shadow-ambient) 0 1px 1px, var(--shadow-key) 0 2px 4px -2px;
  --elevation-2:
    var(--shadow-ambient) 0 2px 4px -2px, var(--shadow-key) 0 6px 12px -4px;
  --elevation-3:
    var(--shadow-ambient) 0 8px 16px -4px, var(--shadow-key) 0 12px 24px -6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-ambient: lch(0% 0 0 / 0.06);
    --shadow-key: lch(0% 0 0 / 0.08);
    --shadow-specular: lch(100% 0 0 / 0.07);

    --elevation-1:
      var(--shadow-key) 0 4px 4px -1px, var(--shadow-key) 0 1px 1px 0;
    --elevation-2:
      var(--shadow-ambient) 0 4px 8px -4px, var(--shadow-key) 0 6px 12px -4px;
    --elevation-3:
      var(--shadow-ambient) 0 8px 16px -4px, var(--shadow-key) 0 12px 24px -6px;

    --button-shadow: var(--elevation-1);
  }
}

:root {
  --font-size-base: 16px;
  --font-family-mono: "Jetbrains mono", "Roboto Mono", monospace;
  --font-style-italic:
    400 italic calc(1em + 1px) / normal "Newsreader", "Signifier", "Times",
    serif;
  --font-quote: Georgia, "Times New Roman", Times, serif;
  --font-weight-heading: 500;

  --leading: 28px;

  --type-heading: var(--font-weight-heading) var(--font-size-base) /
    var(--leading) var(--font-family-sans);
}

:root {
  --spacing-page-top: 128px;
  --spacing-page-bottom: 48px;
  --page-max-width: 1072px;
  --content-max-width: 670px;

  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);

  --spacing-body-margin-left: max(24px, env(safe-area-inset-left));
  --spacing-body-margin-right: max(24px, env(safe-area-inset-right));

  --spacing-gutter: 24px;
  --spacing-gutter-sm: 16px;

  --spacing-gap-xs: 4px;
  --spacing-gap-sm: 8px;
  --spacing-gap-md: 16px;
}

@media (max-width: 1024px) {
  :root {
    --spacing-page-top: 120px;
  }
}

@media (max-width: 768px) {
  :root {
    --spacing-page-top: 64px;
  }
}

:root {
  --focus-inner-color-light: hsl(0, 0%, 99%);
  --focus-inner-color-dark: hsl(0, 0%, 8.63%);
  --focus-outer-color: hsl(39, 100%, 57%);

  --selection-bg-color: rgb(255, 249, 168);
  --selection-text-color: #000000;
}

:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

:root {
  --transition-hover: 150ms;
  --transition-enter: 200ms;
  --transition-exit: 150ms;
}

:root {
  --border-thin: 1px;

  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-full: 9999px;
}

@media (resolution: 2), (min-resolution: 192dpi) {
  :root {
    --border-thin: 0.5px;
  }
}
