.prose {
  width: 100%;
  max-width: var(--content-max-width);
  /* see https://rsms.me/inter/#features for font feature options and details */
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "kern",
    "frac",
    "ss08",
    "ss07";
}

.prose > :not(:last-child) {
  margin-bottom: 28px;
}

article.prose {
  position: relative;
}

:is(.prose a, a.prose-link) {
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--grey6);
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
  border-radius: var(--radius-4);
  transition: text-decoration-color var(--transition-hover);

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

@media (hover: hover) and (pointer: fine) {
  :is(.prose a, a.prose-link):hover:not([disabled]),
  :is(.prose a, a.prose-link):focus-visible {
    text-decoration-color: var(--grey11);
  }
}

ul.prose-list,
ol.prose-list {
  list-style-position: outside;
  padding-left: 18px;
}

ul.prose-list {
  list-style-type: disc;
}

ul.prose-list ul {
  list-style-type: circle;
}

ol.prose-list {
  list-style-type: decimal;
}

.prose-list li::marker {
  color: var(--color-foreground-secondary);
}

ul.prose-list li,
ol.prose-list li {
  margin-top: 8px;
}

ul.prose-list li:first-child,
ol.prose-list li:first-child {
  margin-top: 0;
}

em,
i {
  font: var(--font-style-italic);
}

code {
  font-family: var(--font-family-mono);
  font-size: 0.85em;
  background-color: var(--grey3);
  border-radius: var(--radius-4);
  padding: 0.2em 0.4em;
  color: var(--color-foreground);
}

.prose-pre {
  border-radius: var(--radius-12);
  margin-top: 1rem;
  background-color: var(--grey3);
  padding: 1em;
  overflow-x: auto;
}

.prose-superscript {
  font-size: 0.75em;
  line-height: 1;
  color: var(--color-foreground-secondary);
}

.prose-superscript a {
  text-decoration: none;
  border-radius: var(--radius-2);
  padding: 2px 5px;
  transition: var(--transition-hover);
}

@media (hover: hover) and (pointer: fine) {
  .prose-superscript a:hover {
    background-color: var(--grey4);
  }
}

.prose-footnotes {
  color: var(--color-foreground-secondary);
  font-size: 0.875em;
}

.prose .prose-blockquote {
  --quote-offset: 2px;

  position: relative;
  color: var(--color-foreground-secondary);
  quotes: "“" "”" "‘" "’";
}

.prose .prose-blockquote::before {
  content: open-quote;
  position: absolute;
  left: calc(-1 * var(--quote-offset));
  transform: translateX(-100%);
  line-height: var(--leading);
  color: var(--color-foreground-secondary);
}

.prose .prose-blockquote :last-child::after {
  content: close-quote;
  margin-left: var(--quote-offset);
}
