.prose {
  width: 100%;
  max-width: var(--content-max-width);
}

.prose > :not(:last-child) {
  margin-bottom: 28px;
}

article.prose {
  position: relative;
}

:is(.prose a, a.prose-link) {
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--grey6);
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
  border-radius: 4px;
  transition: text-decoration-color var(--transition-hover);
}

@media (hover: hover) {
  :is(.prose a, a.prose-link):hover:not([disabled]),
  :is(.prose a, a.prose-link):focus-visible {
    text-decoration-color: var(--grey11);
  }
}

ul.prose-list,
ol.prose-list {
  list-style-position: outside;
  padding-left: 18px;
}

ul.prose-list {
  list-style-type: disc;
}

ul.prose-list ul {
  list-style-type: circle;
}

ol.prose-list {
  list-style-type: decimal;
}

.prose-list li::marker {
  color: var(--color-foreground-secondary);
}

ul.prose-list li + li,
ol.prose-list li + li {
  margin-top: 8px;
}

ul.prose-list li,
ol.prose-list li {
  line-height: var(--line-height-base);
  margin-top: 8px;
}

em,
i {
  font: var(--font-style-italic);
}

code,
.prose-code--inline {
  font-family: var(--font-family-mono);
  font-size: 0.85em;
  background-color: var(--grey3);
  border-radius: 4px;
  padding: 0.2em 0.4em;
  color: var(--color-foreground);
}

.prose-pre {
  border-radius: 8px;
  margin-top: 1rem;
  background-color: var(--grey3);
  padding: 1em;
  overflow-x: auto;
}

.prose-code--block {
  display: block;
  font-size: 0.85em;
  line-height: 1.45;
  color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  code {
    background-color: #222;
    border-color: #262626;
  }
  .prose-code--block {
    background: #222;
  }
}

.prose-superscript {
  font-size: 0.75em;
  line-height: 1;
  color: var(--color-foreground-secondary);
}

.prose-superscript a {
  text-decoration: none;
  border-radius: 2px;
  padding: 1px 2px;
  transition: var(--transition-hover);
}

@media (hover: hover) {
  .prose-superscript a:hover {
    background-color: var(--grey4);
  }
}

.prose-footnotes {
  color: var(--color-foreground-secondary);
  font-size: 0.875em;
}

q::before,
q::after {
  font-family: var(--font-quote);
  text-indent: -0.4em;
  padding: 0 0.1em;
}

.prose .prose-blockquote {
  --quote-offset: 2px;

  position: relative;
  color: var(--color-foreground-secondary);
  quotes: "“" "”" "‘" "’";
}

.prose .prose-blockquote::before {
  content: open-quote;
  font-family: var(--font-quote);
  position: absolute;
  left: calc(-1 * var(--quote-offset));
  transform: translateX(-100%);
  line-height: var(--leading);
  color: var(--color-foreground-secondary);
}

.prose .prose-blockquote :last-child::after {
  content: close-quote;
  font-family: var(--font-quote);
  margin-left: var(--quote-offset);
}
