.backButton {
  border-radius: var(--radius-4);
  display: flex;
  gap: var(--space-6);
  color: var(--color-foreground);
  transition: color 150ms ease;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}

.backButton svg {
  transform: translateY(4px);
  fill: currentColor;
}

/* workaround for firefox to align the svg icon vertically */
@supports (-moz-appearance: none) {
  .backButton svg {
    transform: translateY(1.5px);
  }
}

@media (hover: hover) and (pointer: fine) {
  .backButton:hover {
    color: var(--color-foreground-secondary);
  }
}
