@media (prefers-reduced-motion: no-preference) {
  [data-animate] {
    --delay: 100ms;
    --stagger: 0;

    --transition-duration: 500ms;
    --transition-easing: ease;
    --transition-delay: calc(var(--stagger) * var(--delay));

    opacity: 1;
    transform: translateY(0);
    transition:
      opacity var(--transition-duration) var(--transition-easing)
        var(--transition-delay),
      transform var(--transition-duration) var(--transition-easing)
        var(--transition-delay);

    @starting-style {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}
