.prose {
  font-feature-settings: var(--font-feature-settings);
  width: 100%;
  max-width: var(--content-max-width);
}

.prose > :not(:last-child) {
  margin-bottom: var(--space-28);
}

article.prose {
  position: relative;
}

.prose :where(a),
a.prose-link {
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--grey6);
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
  border-radius: var(--radius-4);
  transition: text-decoration-color var(--transition-hover);

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

@media (hover: hover) and (pointer: fine) {
  .prose :where(a):hover:not([disabled]),
  a.prose-link:hover:not([disabled]) {
    text-decoration-color: var(--grey11);
  }
}

.prose :where(ul, ol),
ul.prose-list,
ol.prose-list {
  list-style-position: outside;
  padding-left: var(--space-20);
}

.prose :where(ul, ol)[data-list="unstyled"] {
  padding-left: 0;
}

.prose ul,
ul.prose-list {
  list-style-type: disc;
}

.prose ul ul,
ul.prose-list ul {
  list-style-type: circle;
  margin-top: var(--space-8);
  padding-left: var(--space-20);
}

.prose ol,
ol.prose-list {
  list-style-type: decimal;
}

.prose ol ol,
ol.prose-list ol {
  margin-top: var(--space-8);
  padding-left: var(--space-20);
}

.prose :where(ul, ol) li::marker,
.prose-list li::marker {
  color: var(--grey11);
}

.prose :where(ul, ol) li,
ul.prose-list li,
ol.prose-list li {
  margin-top: var(--space-10);
}

.prose :where(ul, ol) li:first-child,
ul.prose-list li:first-child,
ol.prose-list li:first-child {
  margin-top: 0;
}

em,
i {
  font: var(--font-style-italic);
}

code {
  font-family: var(--font-family-mono);
  font-feature-settings: normal;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 0.85em;
  padding: 0.2em 0.4em;
  background-color: var(--grey3);
  color: inherit;
  border-radius: var(--radius-4);
}

.prose pre,
.prose-pre {
  border-radius: var(--radius-12);
  margin-top: var(--space-16);
  background-color: var(--grey3);
  padding: 1em;
  overflow-x: auto;
}

.prose-superscript {
  font-size: 0.75em;
  line-height: 1;
  color: var(--color-foreground-secondary);
}

.prose-superscript a {
  text-decoration: none;
  border-radius: var(--radius-2);
  padding: var(--space-2) var(--space-4);
  transition: var(--transition-hover);
}

@media (hover: hover) and (pointer: fine) {
  .prose-superscript a:hover {
    color: var(--color-foreground);
  }
}

.prose-superscript a:focus-visible {
  color: var(--color-foreground);
}

.prose-footnotes {
  color: var(--color-foreground-secondary);
  font-size: 0.875em;
}

.prose-footnotes > :not(:last-child) {
  margin-bottom: var(--space-12);
}

.prose blockquote,
.prose .prose-blockquote {
  --quote-offset: var(--space-2);

  position: relative;
  color: var(--grey11);
  quotes: "“" "”" "‘" "’";
}

.prose blockquote::before,
.prose .prose-blockquote::before {
  content: open-quote;
  position: absolute;
  left: calc(-1 * var(--quote-offset));
  transform: translateX(-100%);
  line-height: var(--leading);
}

.prose blockquote :last-child::after,
.prose .prose-blockquote :last-child::after {
  content: close-quote;
  margin-left: var(--quote-offset);
}

@media (prefers-contrast: more) {
  .prose hr {
    background-color: var(--grey10);
  }
}
