.moodCanvas {
  position: absolute;
  inset: 0;
  transform-origin: 0 0;
  will-change: transform;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.moodSurface {
  position: relative;
  width: 100vw;
  height: 100vh;
  transform-origin: 0 0;
  will-change: transform;
  user-select: none;
  -webkit-user-select: none;
}

.moodElement {
  position: absolute;
  left: 0;
  top: 0;
  cursor: default;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.panMode {
  cursor: grab;
}

.panMode .moodElement {
  cursor: grab;
}

:global(body.gesture-grabbing) .moodCanvas {
  cursor: grabbing;
}

:global(body.gesture-grabbing) .moodElement {
  cursor: grabbing;
}

.moodImage {
  object-fit: fill;
  user-select: none;
  -webkit-user-select: none;
}
