:root {
  --color-background: #ffffff;
  --color-foreground: #3a3a3a;
  --color-foreground-secondary: #6f6f6f;

  --grey1: #fcfcfc;
  --grey2: #f8f8f8;
  --grey3: #f3f3f3;
  --grey4: #ededed;
  --grey5: #e8e8e8;
  --grey6: #e2e2e2;
  --grey7: #dbdbdb;
  --grey8: #c7c7c7;
  --grey9: #8f8f8f;
  --grey10: #858585;
  --grey11: #6f6f6f;
  --grey12: #171717;

  --greyA1: rgba(0, 0, 0, 0.012);
  --greyA2: rgba(0, 0, 0, 0.027);
  --greyA3: rgba(0, 0, 0, 0.047);
  --greyA4: rgba(0, 0, 0, 0.071);
  --greyA5: rgba(0, 0, 0, 0.09);
  --greyA6: rgba(0, 0, 0, 0.114);
  --greyA7: rgba(0, 0, 0, 0.141);
  --greyA8: rgba(0, 0, 0, 0.22);
  --greyA9: rgba(0, 0, 0, 0.439);
  --greyA10: rgba(0, 0, 0, 0.478);
  --greyA11: rgba(0, 0, 0, 0.565);
  --greyA12: rgba(0, 0, 0, 0.91);

  --yellow: oklch(85.4% 0.175 87.5deg);
  --orange: oklch(66.7% 0.224 36.8deg);
  --blue: oklch(54.6% 0.245 262.881);
  --teal: oklch(77.7% 0.152 181.912);
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --yellow: color(display-p3 1 0.78 0);
    --orange: color(display-p3 1 0.36 0);
    --blue: color(display-p3 0.071 0.442 0.945);
    --teal: color(display-p3 0 0.78 0.72);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #161616;
    --color-foreground: #ededed;
    --color-foreground-secondary: #a0a0a0;

    --grey1: #1a1a1a;
    --grey2: #1c1c1c;
    --grey3: #232323;
    --grey4: #282828;
    --grey5: #2e2e2e;
    --grey6: #343434;
    --grey7: #3e3e3e;
    --grey8: #505050;
    --grey9: #707070;
    --grey10: #7e7e7e;
    --grey11: #a0a0a0;
    --grey12: #ededed;

    --greyA1: hsla(0, 0%, 100%, 0);
    --greyA2: hsla(0, 0%, 100%, 0.026);
    --greyA3: hsla(0, 0%, 100%, 0.056);
    --greyA4: hsla(0, 0%, 100%, 0.077);
    --greyA5: hsla(0, 0%, 100%, 0.103);
    --greyA6: hsla(0, 0%, 100%, 0.129);
    --greyA7: hsla(0, 0%, 100%, 0.172);
    --greyA8: hsla(0, 0%, 100%, 0.249);
    --greyA9: hsla(0, 0%, 100%, 0.386);
    --greyA10: hsla(0, 0%, 100%, 0.446);
    --greyA11: hsla(0, 0%, 100%, 0.592);
    --greyA12: hsla(0, 0%, 100%, 0.923);
  }
}

:root {
  --focus-inner-color-light: hsl(0, 0%, 99%);
  --focus-inner-color-dark: hsl(0, 0%, 8.63%);
  --focus-outer-color: hsl(39, 100%, 57%);

  --selection-bg-color: rgb(255, 249, 168);
  --selection-text-color: #000000;
}
