:root {
  --shadow-border: 0 0 0 1px var(--greyA3);

  --shadow-ambient: lch(0% 0 0 / 0.03);
  --shadow-key: lch(0% 0 0 / 0.08);
  --shadow-specular: lch(100% 0 0 / 0.06);

  --elevation-1:
    var(--shadow-ambient) 0 1px 1px, var(--shadow-key) 0 2px 4px -2px;
  --elevation-2:
    var(--shadow-ambient) 0 2px 4px -2px, var(--shadow-key) 0 6px 12px -4px;
  --elevation-3:
    var(--shadow-ambient) 0 8px 16px -4px, var(--shadow-key) 0 12px 24px -6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-ambient: lch(0% 0 0 / 0.06);
    --shadow-key: lch(0% 0 0 / 0.08);
    --shadow-specular: lch(100% 0 0 / 0.07);

    --elevation-1:
      var(--shadow-key) 0 4px 4px -1px, var(--shadow-key) 0 1px 1px 0;
    --elevation-2:
      var(--shadow-ambient) 0 4px 8px -4px, var(--shadow-key) 0 6px 12px -4px;
    --elevation-3:
      var(--shadow-ambient) 0 8px 16px -4px, var(--shadow-key) 0 12px 24px -6px;

    --button-shadow: var(--elevation-1);
  }
}
