:root {
  --border-thin: 1px;

  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-full: 9999px;
}

@media (resolution: 2), (min-resolution: 192dpi) {
  :root {
    --border-thin: 0.5px;
  }
}
