:root {
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-36: 36px;
  --space-38: 38px;
  --space-40: 40px;
  --space-42: 42px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --space-96: 96px;
  --space-120: 120px;
  --space-128: 128px;

  --spacing-page-top: var(--space-128);
  --spacing-page-bottom: var(--space-48);
  --page-max-width: 1072px;
  --content-max-width: 670px;

  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);

  --spacing-body-margin-left: max(var(--space-24), env(safe-area-inset-left));
  --spacing-body-margin-right: max(var(--space-24), env(safe-area-inset-right));
}

@media (max-width: 1024px) {
  :root {
    --spacing-page-top: var(--space-120);
  }
}

@media (max-width: 768px) {
  :root {
    --spacing-page-top: var(--space-64);
  }
}
