.cardContainer {
  position: relative;
  width: 100%;
  border-radius: var(--radius-12);
  outline: 1px solid var(--grey4);
  background: var(--grey2);
  margin-top: var(--space-32);
  margin-bottom: var(--space-32);
}

.cardContent {
  display: flex;
  justify-content: center;
  gap: var(--space-48);
  align-items: center;
  width: 100%;
  height: 220px;
}

.cardDescription {
  padding: var(--space-10);
  font-size: 0.75rem;
  color: var(--color-foreground-secondary);
  text-align: center;
}
