.cardContainer {
  position: relative;
  width: 100%;
  border-radius: 12px;
  outline: 1px solid var(--grey4);
  background: var(--grey2);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cardContent {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 220px;
}

.cardDescription {
  padding: 0.625rem;
  font-size: 0.75rem;
  color: var(--color-foreground-secondary);
  text-align: center;
}
