.carouselContainer {
  display: flex;
  height: auto;
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-radius: var(--radius-8);
  background: var(--grey1);
  outline: 1px solid var(--grey4);
  margin-top: var(--space-32);
  margin-bottom: var(--space-32);
}

@media (max-width: 767px) {
  .carouselContainer {
    padding-left: var(--space-16);
    padding-right: var(--space-16);
  }
}

.buttonContainer {
  display: none;
  align-items: center;
}

@media (min-width: 768px) {
  .buttonContainer {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .carouselContainer {
    width: calc(100% + 2 * (var(--space-38) + var(--space-24)));
    margin-left: calc(-1 * (var(--space-38) + var(--space-24)));
    margin-right: calc(-1 * (var(--space-38) + var(--space-24)));
  }
}

.slideList {
  display: flex;
  height: 300px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  padding: var(--space-16) 0 var(--space-32);
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .slideList {
    height: 600px;
    scroll-snap-type: x mandatory;
    padding-bottom: var(--space-48);
  }
}
@media (min-width: 1024px) {
  .slideList {
    height: 600px;
    padding-bottom: var(--space-48);
    padding-top: var(--space-32);
  }
}

.arrowButton {
  border-radius: var(--radius-2);
  margin: 0 var(--space-8);
  color: var(--color-foreground-secondary);
  transition: color var(--transition-hover);
  cursor: pointer;
}
.arrowButton:hover:not(:disabled) {
  color: var(--color-foreground);
}
.arrowButton:disabled {
  cursor: not-allowed;
  color: var(--grey8);
}

.cursorLeft {
  cursor: w-resize;
}
.cursorRight {
  cursor: e-resize;
}
