.slideItem {
  position: relative;
  margin-right: var(--space-20);
  width: 250px;
  flex-shrink: 0;
  overscroll-behavior-x: contain;
  background-color: var(--color-background);
  text-align: center;
  transition: all var(--transition-enter) var(--ease-out-cubic);
}
.slideItem:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .slideItem {
    width: 450px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
@media (min-width: 1024px) {
  .slideItem {
    width: 450px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

.image {
  object-fit: fill;
}

.figcaption {
  position: absolute;
  bottom: calc(-1 * var(--space-24));
  left: 0;
  width: 100%;
  text-align: start;
  font-size: 0.75rem;
  color: var(--color-foreground-secondary);
}
