.contactList {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  padding-left: 0;
}

.contactList li {
  margin-top: 0;
}

.contactList .dot {
  pointer-events: none;
  user-select: none;
}

.contactListHeading {
  margin-bottom: var(--space-28);
}

.dot {
  color: var(--grey11);
}
