.list {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  padding-left: 0;
}

.list li {
  margin-top: 0;
}

.list .separator {
  pointer-events: none;
  user-select: none;
}

.heading {
  margin: var(--space-28) 0;
}

.separator {
  color: var(--grey11);
}
