.focusedReading[data-focus-mode="enabled"]
  :where(p, pre, li, img, div, blockquote) {
  --transition: 200ms ease;

  opacity: 0.6;
  filter: blur(2px);
  cursor: crosshair;
  transition:
    opacity var(--transition),
    filter var(--transition);
}

.focusedReading[data-focus-mode="enabled"]
  :where(p, pre, li, img, div, blockquote):hover {
  opacity: 1;
  filter: none;
}
