.maskGradient {
  --mask-gradient-start: 20%;
  --mask-gradient-end: 80%;
  --mask-gradient-padding: 1rem;
  --marquee-duration: 20s;

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black var(--mask-gradient-start),
    black var(--mask-gradient-end),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black var(--mask-gradient-start),
    black var(--mask-gradient-end),
    transparent 100%
  );
  padding: var(--mask-gradient-padding);
}

.marquee {
  flex: none;
  width: max-content;
  padding-left: 100%;
  will-change: transform;
  animation: marquee-animation var(--marquee-duration) linear infinite;
}

@keyframes marquee-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
