.container {
  margin-top: var(--space-72);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: inline-flex;
  justify-content: center;
}

.buttonBase {
  display: flex;
  align-items: center;
  border-radius: var(--radius-6);
  outline: 1px solid var(--grey4);
  background-color: var(--grey1);
  transition: transform var(--transition-hover);

  color: var(--color-foreground);
  box-shadow: var(--elevation-1);
}

.pressed {
  transform: scale(0.98);
}

.sizeLarge {
  gap: var(--space-6);
  padding: var(--space-8) var(--space-12) var(--space-8) var(--space-8);
}
.sizeMedium {
  gap: var(--space-6);
  padding: var(--space-6) var(--space-12) var(--space-6) var(--space-8);
}
.sizeSmall {
  padding: var(--space-6);
}

.icon {
  width: 20px;
  height: 20px;
  color: inherit;
}

.textGroup {
  display: flex;
  gap: var(--space-16);
  font-size: 0.875rem;
}
.fontMedium {
  font-weight: 500;
}

.pointerWrapper {
  position: relative;
  margin-top: var(--space-72);
  display: flex;
  height: 1rem;
  width: 20rem;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--color-foreground-secondary);
}
.pointerMessage {
  position: absolute;
}
.resetButton {
  position: absolute;
  border-radius: var(--radius-2);
  padding: var(--space-4);
}

.nonPointerText {
  margin-top: var(--space-72);
  font-size: 0.75rem;
}
