.tooltipTrigger {
  display: inline-flex;
  user-select: none;
  background-color: transparent;
  border: 0;
  border-radius: var(--tooltip-trigger-radius, 0.125rem);
}

.tooltipPopup {
  --tooltip-shadow-sm: rgb(0 0 0 / 0.1);
  --tooltip-shadow-md: rgb(0 0 0 / 0.2);
  --tooltip-transform-duration: 150ms;
  --tooltip-opacity-duration: 150ms;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-variant-numeric: tabular-nums;
  border-radius: 0.375rem;

  transform-origin: var(--transform-origin);
  transition:
    transform var(--tooltip-transform-duration),
    opacity var(--tooltip-opacity-duration);
  box-shadow:
    0 2px 2px var(--tooltip-shadow-sm),
    0 4px 12px var(--tooltip-shadow-md);
}

.tooltipPopup[data-open] {
  --tooltip-opacity-duration: 6ms;
}

.tooltipPopup[data-instant] {
  --tooltip-transform-duration: 0ms;
  --tooltip-opacity-duration: 0ms;
}

.tooltipPopup[data-starting-style],
.tooltipPopup[data-ending-style] {
  opacity: 0;
  transform: scale(0.9);
}

@media (prefers-color-scheme: light) {
  .tooltipPopup {
    background-color: var(--grey1);
    outline: 1px solid rgb(9 9 11 / 0.1);
    box-shadow:
      0 0.375rem 0.9375rem -0.5rem var(--greyA3),
      0 0.25rem 0.375rem -0.25rem var(--greyA3);
  }
  .tooltipArrowOuterStroke {
    fill: rgb(9 9 11 / 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  .tooltipPopup {
    background-color: var(--grey1);
    outline: 1px solid var(--grey5);
    outline-offset: -1px;
  }
  .tooltipArrowInnerStroke {
    fill: var(--grey5);
  }
}

.tooltipArrow {
  display: flex;
}

.tooltipArrow[data-side="top"] {
  bottom: -8px;
  rotate: 180deg;
}

.tooltipArrow[data-side="bottom"] {
  top: -8px;
  rotate: 0deg;
}

.tooltipArrow[data-side="left"] {
  right: -13px;
  rotate: 90deg;
}

.tooltipArrow[data-side="right"] {
  left: -13px;
  rotate: -90deg;
}

.tooltipArrowFill {
  fill: var(--grey1);
}
