.tooltipTrigger {
  display: inline-flex;
  user-select: none;
  background-color: transparent;
  border: 0;
  border-radius: var(--tooltip-trigger-radius, var(--radius-2));
}

.tooltipPopup {
  --tooltip-transform-duration: var(--transition-enter);
  --tooltip-opacity-duration: var(--transition-enter);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  padding: var(--space-4) var(--space-12);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.25rem;
  font-variant-numeric: tabular-nums;
  border-radius: var(--radius-6);

  transform-origin: var(--transform-origin);
  transition:
    transform var(--tooltip-transform-duration),
    opacity var(--tooltip-opacity-duration);
  box-shadow: var(--shadow-tooltip);

  &[data-open] {
    --tooltip-opacity-duration: 6ms;
  }

  &[data-instant] {
    --tooltip-transform-duration: 0ms;
    --tooltip-opacity-duration: 0ms;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.tooltipArrow {
  display: flex;

  &[data-side="top"] {
    bottom: calc(-1 * var(--space-8));
    rotate: 180deg;
  }

  &[data-side="bottom"] {
    top: calc(-1 * var(--space-8));
    rotate: 0deg;
  }

  &[data-side="left"] {
    right: calc(-1 * var(--space-14));
    rotate: 90deg;
  }

  &[data-side="right"] {
    left: calc(-1 * var(--space-14));
    rotate: -90deg;
  }
}

.tooltipArrowFill {
  fill: var(--tooltip-arrow-fill, var(--grey1));
}

@media (prefers-color-scheme: light) {
  .tooltipPopup {
    --tooltip-outline-color: rgb(9 9 11 / 0.1);
    color: #f0f0f0;
    background-color: #1f1f1f;
    outline: 1px solid var(--grey12);
  }

  .tooltipArrowFill {
    fill: var(--tooltip-arrow-fill, #1f1f1f);
  }

  .tooltipArrowOuterStroke {
    fill: var(--tooltip-arrow-outer-stroke, var(--grey12));
  }
}

@media (prefers-color-scheme: dark) {
  .tooltipPopup {
    background-color: var(--grey2);
    outline: 1px solid var(--grey6);
    outline-offset: -1px;
  }

  .tooltipArrowFill {
    fill: var(--tooltip-arrow-fill, var(--grey2));
  }

  .tooltipArrowInnerStroke {
    fill: var(--tooltip-arrow-inner-stroke, var(--grey6));
  }
}
