.fade {
  --h: min(var(--space-96), var(--spacing-page-top, var(--space-96)));
  --direction: to bottom;
  --blur: 5px;
  --stop: 25%;
  --background: var(--color-background);

  position: sticky;
  display: block;
  z-index: 1;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-backdrop-filter: var(--fade-backdrop-filter, blur(var(--blur)));
  backdrop-filter: var(--fade-backdrop-filter, blur(var(--blur)));

  opacity: var(--fade-opacity, var(--opacity, 0.92));

  -webkit-mask-image: var(
    --fade-mask,
    var(
      --mask,
      linear-gradient(var(--direction), #000 var(--stop), transparent)
    )
  );
  mask-image: var(
    --fade-mask,
    var(
      --mask,
      linear-gradient(var(--direction), #000 var(--stop), transparent)
    )
  );

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--direction),
      var(--background),
      transparent
    );
  }

  &[data-side="top"],
  &[data-side="bottom"] {
    left: 0;
    right: 0;

    width: calc(
      100% + var(--spacing-body-margin-left, 0px) +
        var(--spacing-body-margin-right, 0px)
    );
    height: var(--h);

    margin-left: calc(-1 * var(--spacing-body-margin-left, 0px));
    margin-right: calc(-1 * var(--spacing-body-margin-right, 0px));
  }

  &[data-side="top"] {
    top: 0;
    bottom: auto;
    margin-bottom: calc(-1 * var(--h));
  }

  &[data-side="bottom"] {
    --direction: to top;
    --h: min(var(--space-96), var(--spacing-page-bottom, var(--space-96)));

    top: auto;
    bottom: 0;

    margin-top: calc(-1 * var(--h));
    margin-bottom: 0;
  }

  &[data-side="left"],
  &[data-side="right"] {
    top: 0;
    bottom: auto;

    width: var(--h);
    height: calc(
      100% + var(--spacing-page-top, 0px) + var(--spacing-page-bottom, 0px)
    );

    margin-top: calc(-1 * var(--spacing-page-top, 0px));
    margin-bottom: calc(-1 * var(--spacing-page-bottom, 0px));
  }

  &[data-side="left"] {
    --direction: to right;
    --h: min(var(--space-96), var(--spacing-body-margin-left, var(--space-96)));

    left: 0;
    right: auto;

    margin-left: 0;
    margin-right: calc(-1 * var(--h));
  }

  &[data-side="right"] {
    --direction: to left;
    --h: min(
      var(--space-96),
      var(--spacing-body-margin-right, var(--space-96))
    );

    left: auto;
    right: 0;

    margin-left: calc(-1 * var(--h));
    margin-right: 0;
  }
}
